.movie{
    width: 290px;
}

.movie > p{
    height: 72px;
}

.button{
    width: 290px;
}

.jumbotron{
    background-image: url(../images/m.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.jumbotron-extend{
    position: relative;
    height: 80vh;
    min-height: 300px;
}

.jumbotron-container{
    position: relative;
    top: 90%;
    transform: translateY(-50%);
}