.movie{
    width: 290px;
}

.movie > p{
    height: 72px;
}

.button{
    width: 290px;
}

.jumbotron{
    background-image: url(../images/s.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}